<div>
  <div class="max-w-6xl pt-20 m-auto">
    <h1 class="text-5xl font-bold">Your book of the day is 😲</h1>
    <div class="p-6 mt-4 bg-gray-50">
      <h1 class="text-lg font-bold">{{ book?.title }}</h1>
      <p class="text-base">
        Written by {{ book?.author }} <span> ISBN {{ book?.isbn }} </span>
      </p>
      <p class="text-sm">{{ book?.description }}</p>
      <p class="mt-2 text-sm font-bold">
        {{ book?.timesRead }} bookworms are interested in this book
      </p>
    </div>
  </div>
</div>
