<div>
  <div class="max-w-6xl pt-20 m-auto">
    <h1 class="text-5xl font-bold">Your book of the day is 😲</h1>
    <div class="p-6 mt-4 bg-gray-50">
      <h1 class="text-lg font-bold">randomBook.title</h1>
      <p class="text-base">
        Written by randomBook.author <span> ISBN randomBook.isbn </span>
      </p>
      <p class="text-sm">randomBook.description</p>
      <p class="mt-2 text-sm font-bold">
        randomBook.timesRead bookworms are interested in this book
      </p>
    </div>
  </div>
</div>
