<div>
  <div class="max-w-5xl py-20 m-auto">
    <div>
      <h1 class="text-xl font-bold">Book Browser</h1>
      <p>Search and find the books in our library</p>
    </div>
    <div>
      <input
        type="text"
        class="p-3 my-4 border focus:ring-2"
        placeholder="Search for a book"
        value="{keyword}"
      />
    </div>
    <div class="mt-12">
      <div class="">
        <div class="w-1/2 p-2">
          <div class="p-5 bg-gray-200">
            <h1 class="text-lg font-bold">book.title</h1>
            <p class="text-base">
              Written by book.author <span> ISBN# book.isbn </span>
            </p>
            <p class="text-sm">book.description</p>
            <p class="mt-2 text-sm font-bold">
              book.timesRead bookworms are interested in this book
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
