<div class="px-12 py-6 text-white bg-gradient-to-r from-black to-purple-500">
  <div class="flex items-center justify-between">
    <div>
      <ng-container *ngIf="isLoggedIn">
        <a href="/user/book-browser">
          <h1 class="font-mono font-bold text-center">Bookworm 📚🪱</h1>
        </a>
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <a href="/">
          <h1 class="font-mono font-bold text-center">Bookworm 📚🪱</h1>
        </a>
      </ng-container>
    </div>
    <div id="menu-items">
      <ul class="flex items-center space-x-12 text-sm font-bold">
        <!-- Use ngIf to see if IsLoggedIn is true -->
        <ng-container *ngIf="isLoggedIn">
          <a href="/user/book-browser">
            <li>📚 Library</li>
          </a>
          <a href="/user/reading-list">
            <li>📚 Reading List</li>
          </a>
          <a href="/user/request-form">
            <li>📚 Request a book</li>
          </a>
          <a href="/user/profile">
            <li>🧑‍💻 Profile</li>
          </a>
          <a href="/user/book-picker">
            <li>🪄 Book Picker</li>
          </a>
          <a href="/">
            <li>🔒 Logout</li>
          </a>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <a href="/library/inventory">
            <li>Library Admin</li>
          </a>
          <a href="/user/login">
            <li>🔒 Login</li>
          </a>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
